modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
ADMIN_PASSWORD = "Admin@E2251217"
APP_SECRET_KEY = "897829ef954df7f267d2b207368ecedf25062a7880b7136ed41368aa16de9232"
RECEIVING_PHONE_NUMBER = "+249000000000"
NEON_DATABASE_URL = "postgresql://neondb_owner:npg_Q5leq9pMHFuA@ep-bitter-hall-atpxgb78-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

[nix]
channel = "stable-25_05"
